<html>
  <head>
    <meta charset='utf-8' />
    <title>Chatbot Tuyển Sinh</title>
  </head>
  <body>
    <h1>{{message}}</h1>
    <p>Chào mừng bạn đến với dự án khóa luận tốt nghiệp!</p>
  </body>
</html>